/*
--------------------------------Comandos do HTML--------------------------------
*/
body{background-color: white;}
hr{background-color: red; color: red;}
td{text-align: center; bottom: 2px;}
table { border-spacing: 18px; }



/*
----------------------------Comandos do HTML com o ID---------------------------
*/
div.login{margin-left: 40%; margin-top: 20%; width: 20%; text-align: left; background-color: white; }
div.post{margin-left: 10%; margin-top: 20%; width: 100%; text-align: left; background-color: white;}
div.CenterField{margin-left: 40%;}
p.texto{width: 11em; border: 1px solid #000000; word-wrap: break-word; word-break: keep-all;}
hr.hrPost{margin-left: 20%; margin-right: 20%;}



/*
--------------------------Comandos do HTML com o Classe-------------------------
*/




/*
---------------------------------------ID---------------------------------------
*/
#conteudo{margin-top: 55px;}
#LeftContent{margin-right: 40%;}
#RightContent{margin-left: 20%; position: fixed;}
#menuHorizontal{position: fixed; top: 0px; left: 0px; width: 20%; height: 55px; background-color: rgb(210, 0, 0);}
#menuLateral{position: fixed; top: 55px; left: 0px; background-color: white; width: 12%; height: 100%; 
			color: slategray;}
#menuOpcoes{position: fixed; top: 0px; left: 20%; background-color: rgb(210, 0, 0); width: 80%; height: 42px; 
			color: slategray; text-align: right; margin-right: 10px; padding-top: 10px; padding-bottom: 3px;}
/*#NovoComentario{margin-left: 40%; width: 50%; display: none;}*/
#pPost{white-space: pre-line;}
#RightContent{margin-top: 55px; margin-left: 40%;}
#Titulo{color: rgb(220,220,220); margin-top: 5px; margin-left: 20px; margin-bottom: 5px;}
#TituloLateral{margin-top: 5px; margin-left: 0px; margin-bottom: 5px; text-align: center;}



/*
------------------------------------Classes------------------------------------
*/
.btn{margin-left: 60%;}
.btnComentario{text-align: right; margin-right: 20%; margin-bottom: 2%; margin-top: -50px;}
.campo{margin-left: 20%;}
.Centralizado{margin: auto; width: 50%;}
.Comentario{margin: auto; width: 30%;}
.CenterContent{margin-left: 40%; margin-top: 20%; width: 20%; text-align: left;}
.desc{font-size: 16px; font-weight: 300; font-style: normal; font-stretch: normal; line-height: 1.11; 
	  color: #333; margin: 0 0 20px 0;}
.NovoComentario{margin-left: 40%; width: 50%; display: none;}
.hCriacao{display: inline;}
.hDesc{margin-top: 0px; color: black;}
.logo{text-decoration: none; color: black; background-color: white; padding-bottom: 15px; border: 4px solid white; 
	  margin: 0px 6px 0px 6px;}
.p{text-decoration: none; color: rgb(220,220,220); background-color: rgb(210, 0, 0); padding: 3px; 
	  border: 4px solid rgb(210, 0, 0); margin: 0px 6px 0px 6px;}
.p:hover{background-color: rgb(190, 0, 0); padding: 3px; border: 5px solid rgb(190, 0, 0); margin: -1px 5px -1px 5px;}
.pTipo{text-decoration: none; color: rgb(220,220,220); background-color: rgb(210, 0, 0); padding: 3px; 
	  border: 4px solid rgb(210, 0, 0); margin: 0px 6px 0px 6px;}
.pTipo:hover{background-color: rgb(190, 0, 0); padding: 3px; border: 5px solid rgb(190, 0, 0); margin: -1px 5px -1px 5px;}
.pDelete{text-decoration: none; color: rgb(220,220,220); background-color: rgb(210, 0, 0); padding: 2px; 
         border: 2px solid rgb(210, 0, 0); margin: 0px 6px 0px 6px;}
.pDelete:hover{background-color: rgb(190, 0, 0); padding: 1px; border: 4px solid rgb(190, 0, 0); margin: -1px 5px -1px 5px;}
.publicacao{text-decoration: none; color: rgb(190, 0, 0); margin: 0px 6px 0px 6px;}
.tituloh3{margin-bottom: 0px;}
.TituloComentarios{margin: auto; width: 70%; text-align: center;}
.ShowName{text-align: right;}
.choice{text-align: right;}
.alterarPost{margin-left: 25%; margin-top: 10%;}
.alter{margin-bottom: 2px;}
.posts{width: 55%; margin: 0 0 10px 10%;}
.posts2{width: 90%;}
.posts3{width: 90%; margin-left: 70%;}
